body {
  font-family: Arial, sans-serif;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.app-header {
  font-size: 26px;
  margin-top: 50px;
}

.main {
  margin-top: 50px;
}

.product-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.product-list {
  display: flex;
}

.footer {
  margin-top: 50px;
}
